[submodule "rustsbi-qemu"]
	path = rustsbi-qemu
	url = https://github.com/zkornreich/rustsbi-qemu.git
[submodule "risc-gnu-toolchain"]
	path = risc-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
